#### Como usar o groupby()

In [13]:
from pydataset import data
import pandas as pd

In [14]:
# Importação dos dados
df = data('Forbes2000')
df.head(2)

,rank,name,country,category,sales,profits,assets,marketvalue
1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54

In [15]:
# Um grupo e uma coluna
df.groupby(['category'])['profits'].sum()

category
Aerospace & defense                   5.48
Banking                             132.11
Business services & supplies         11.95
Capital goods                         5.06
Chemicals                            13.03
Conglomerates                        31.45
Construction                         15.65
Consumer durables                    41.91
Diversified financials               78.93
Drugs & biotechnology                65.15
Food drink & tobacco                 49.29
Food markets                          8.22
Health care equipment & services     23.46
Hotels restaurants & leisure          9.57
Household & personal products        24.19
Insurance                            37.73
Materials                            19.01
Media                                12.85
Oil & gas operations                117.50
Retailing                            41.88
Semiconductors                       11.35
Software & services                  17.60
Technology hardware & equipment      12.13
Telecommunications services         -59.93
Trading companies                     0.70
Transportation                       10.83
Utilities                            23.26
Name: profits, dtype: float64

In [16]:
# Multiplas colunas
df.groupby(['category'])[['assets', 'sales', 'profits']].sum()

                                    assets    sales  profits
category
Aerospace & defense                 349.81   273.95     5.48
Banking                           29653.55  1662.83   132.11
Business services & supplies        498.53   468.79    11.95
Capital goods                       499.01   433.12     5.06
Chemicals                           533.25   408.24    13.03
Conglomerates                      1093.81   496.80    31.45
Construction                        580.23   529.18    15.65
Consumer durables                  2249.91  1780.24    41.91
Diversified financials            10792.00   906.68    78.93
Drugs & biotechnology               662.42   412.37    65.15
Food drink & tobacco                830.62   757.51    49.29
Food markets                        306.54   703.81     8.22
Health care equipment & services    465.21   609.75    23.46
Hotels restaurants & leisure        287.82   211.01     9.57
Household & personal products       317.51   316.27    24.19
Insurance                          7790.93  1339.79    37.73
Materials                           927.21   633.90    19.01
Media                               958.24   387.14    12.85
Oil & gas operations               1793.82  1755.37   117.50
Retailing                           718.47  1211.11    41.88
Semiconductors                      237.69   153.31    11.35
Software & services                 260.46   166.75    17.60
Technology hardware & equipment     628.91   639.20    12.13
Telecommunications services        1908.00   853.35   -59.93
Trading companies                   366.10   726.56     0.70
Transportation                     1076.79   606.83    10.83
Utilities                          2296.86   950.16    23.26

In [22]:
# Multiplos grupos
df.groupby(['category'], as_index=False)[['assets', 'sales', 'profits']].sum()

                            category    assets    sales  profits
0                Aerospace & defense    349.81   273.95     5.48
1                            Banking  29653.55  1662.83   132.11
2       Business services & supplies    498.53   468.79    11.95
3                      Capital goods    499.01   433.12     5.06
4                          Chemicals    533.25   408.24    13.03
5                      Conglomerates   1093.81   496.80    31.45
6                       Construction    580.23   529.18    15.65
7                  Consumer durables   2249.91  1780.24    41.91
8             Diversified financials  10792.00   906.68    78.93
9              Drugs & biotechnology    662.42   412.37    65.15
10              Food drink & tobacco    830.62   757.51    49.29
11                      Food markets    306.54   703.81     8.22
12  Health care equipment & services    465.21   609.75    23.46
13      Hotels restaurants & leisure    287.82   211.01     9.57
14     Household & personal products    317.51   316.27    24.19
15                         Insurance   7790.93  1339.79    37.73
16                         Materials    927.21   633.90    19.01
17                             Media    958.24   387.14    12.85
18              Oil & gas operations   1793.82  1755.37   117.50
19                         Retailing    718.47  1211.11    41.88
20                    Semiconductors    237.69   153.31    11.35
21               Software & services    260.46   166.75    17.60
22   Technology hardware & equipment    628.91   639.20    12.13
23       Telecommunications services   1908.00   853.35   -59.93
24                 Trading companies    366.10   726.56     0.70
25                    Transportation   1076.79   606.83    10.83
26                         Utilities   2296.86   950.16    23.26

In [18]:
# Grupos como colunas
df.groupby('caregory')['']

In [19]:
# Multiplas funções