#### Como usar o groupby()

In [1]:
from pydataset import data
import pandas as pd

In [2]:
# Importação dos dados
df = data('Forbes2000')
df.head(2)

,rank,name,country,category,sales,profits,assets,marketvalue
1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54

In [3]:
# Um grupo e uma coluna
df.groupby(['category'])['profits'].sum()

category
Aerospace & defense                   5.48
Banking                             132.11
Business services & supplies         11.95
Capital goods                         5.06
Chemicals                            13.03
Conglomerates                        31.45
Construction                         15.65
Consumer durables                    41.91
Diversified financials               78.93
Drugs & biotechnology                65.15
Food drink & tobacco                 49.29
Food markets                          8.22
Health care equipment & services     23.46
Hotels restaurants & leisure          9.57
Household & personal products        24.19
Insurance                            37.73
Materials                            19.01
Media                                12.85
Oil & gas operations                117.50
Retailing                            41.88
Semiconductors                       11.35
Software & services                  17.60
Technology hardware & equipment      12.13
Telecommunications services         -59.93
Trading companies                     0.70
Transportation                       10.83
Utilities                            23.26
Name: profits, dtype: float64

In [4]:
# Multiplas colunas
df.groupby(['category'])[['assets', 'sales', 'profits']].sum()

                                    assets    sales  profits
category
Aerospace & defense                 349.81   273.95     5.48
Banking                           29653.55  1662.83   132.11
Business services & supplies        498.53   468.79    11.95
Capital goods                       499.01   433.12     5.06
Chemicals                           533.25   408.24    13.03
Conglomerates                      1093.81   496.80    31.45
Construction                        580.23   529.18    15.65
Consumer durables                  2249.91  1780.24    41.91
Diversified financials            10792.00   906.68    78.93
Drugs & biotechnology               662.42   412.37    65.15
Food drink & tobacco                830.62   757.51    49.29
Food markets                        306.54   703.81     8.22
Health care equipment & services    465.21   609.75    23.46
Hotels restaurants & leisure        287.82   211.01     9.57
Household & personal products       317.51   316.27    24.19
Insurance                          7790.93  1339.79    37.73
Materials                           927.21   633.90    19.01
Media                               958.24   387.14    12.85
Oil & gas operations               1793.82  1755.37   117.50
Retailing                           718.47  1211.11    41.88
Semiconductors                      237.69   153.31    11.35
Software & services                 260.46   166.75    17.60
Technology hardware & equipment     628.91   639.20    12.13
Telecommunications services        1908.00   853.35   -59.93
Trading companies                   366.10   726.56     0.70
Transportation                     1076.79   606.83    10.83
Utilities                          2296.86   950.16    23.26

In [5]:
# Multiplos grupos
df.groupby(['category'], as_index=False)[['assets', 'sales', 'profits']].sum()

                            category    assets    sales  profits
0                Aerospace & defense    349.81   273.95     5.48
1                            Banking  29653.55  1662.83   132.11
2       Business services & supplies    498.53   468.79    11.95
3                      Capital goods    499.01   433.12     5.06
4                          Chemicals    533.25   408.24    13.03
5                      Conglomerates   1093.81   496.80    31.45
6                       Construction    580.23   529.18    15.65
7                  Consumer durables   2249.91  1780.24    41.91
8             Diversified financials  10792.00   906.68    78.93
9              Drugs & biotechnology    662.42   412.37    65.15
10              Food drink & tobacco    830.62   757.51    49.29
11                      Food markets    306.54   703.81     8.22
12  Health care equipment & services    465.21   609.75    23.46
13      Hotels restaurants & leisure    287.82   211.01     9.57
14     Household & personal products    317.51   316.27    24.19
15                         Insurance   7790.93  1339.79    37.73
16                         Materials    927.21   633.90    19.01
17                             Media    958.24   387.14    12.85
18              Oil & gas operations   1793.82  1755.37   117.50
19                         Retailing    718.47  1211.11    41.88
20                    Semiconductors    237.69   153.31    11.35
21               Software & services    260.46   166.75    17.60
22   Technology hardware & equipment    628.91   639.20    12.13
23       Telecommunications services   1908.00   853.35   -59.93
24                 Trading companies    366.10   726.56     0.70
25                    Transportation   1076.79   606.83    10.83
26                         Utilities   2296.86   950.16    23.26

In [9]:
# Grupos como colunas
df.groupby(['category', 'country'], as_index=False)[['assets', 'sales', 'profits']].sum()

                category         country  assets   sales  profits
0    Aerospace & defense          Brazil    3.14    2.19     0.33
1    Aerospace & defense          Canada   18.61   15.55    -0.40
2    Aerospace & defense          France   26.14   15.28     0.45
3    Aerospace & defense           Italy   17.52    8.17     0.21
4    Aerospace & defense     Netherlands   47.82   31.41    -0.31
..                   ...             ...     ...     ...      ...
458            Utilities          Russia   32.94   15.76     1.10
459            Utilities     South Korea   66.25   24.18     2.82
460            Utilities           Spain  118.15   45.17     4.34
461            Utilities  United Kingdom  133.35   64.30     3.87
462            Utilities   United States  926.03  373.61    -2.82

[463 rows x 5 columns]

In [11]:
# Multiplas funções
df.groupby('category')[['assets', 'sales']].agg(['mean', 'sum'])

                                     assets                sales
                                       mean       sum       mean      sum
category
Aerospace & defense               18.411053    349.81  14.418421   273.95
Banking                           94.739776  29653.55   5.312556  1662.83
Business services & supplies       7.121857    498.53   6.697000   468.79
Capital goods                      9.415283    499.01   8.172075   433.12
Chemicals                         10.665000    533.25   8.164800   408.24
Conglomerates                     35.284194   1093.81  16.025806   496.80
Construction                       7.344684    580.23   6.698481   529.18
Consumer durables                 30.404189   2249.91  24.057297  1780.24
Diversified financials            68.303797  10792.00   5.738481   906.68
Drugs & biotechnology             14.720444    662.42   9.163778   412.37
Food drink & tobacco              10.007470    830.62   9.126627   757.51
Food markets                       9.289091    306.54  21.327576   703.81
Health care equipment & services   7.157077    465.21   9.380769   609.75
Hotels restaurants & leisure       7.778919    287.82   5.702973   211.01
Household & personal products      7.216136    317.51   7.187955   316.27
Insurance                         69.561875   7790.93  11.962411  1339.79
Materials                          9.558866    927.21   6.535052   633.90
Media                             15.708852    958.24   6.346557   387.14
Oil & gas operations              19.931333   1793.82  19.504111  1755.37
Retailing                          8.164432    718.47  13.762614  1211.11
Semiconductors                     9.141923    237.69   5.896538   153.31
Software & services                8.401935    260.46   5.379032   166.75
Technology hardware & equipment   10.659492    628.91  10.833898   639.20
Telecommunications services       28.477612   1908.00  12.736567   853.35
Trading companies                 14.644000    366.10  29.062400   726.56
Transportation                    13.459875   1076.79   7.585375   606.83
Utilities                         20.880545   2296.86   8.637818   950.16

#### Outros métodos